@import "tailwindcss";

:root {
  --mop-red: #F24B57;
  --mop-desert: #DDC1B2;
  --mop-black: #161010;
  --mop-gray: #E7E1E2;
  --mop-white: #FFFFFF;
  --background: var(--mop-white);
  --foreground: var(--mop-black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--mop-black);
  color: var(--mop-white);
  font-family: Arial, Helvetica, sans-serif;
}
